.product-item{
    &__card{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img-wrapper{
        width: 50%;
        flex-shrink: 0;
        flex-grow: 0;
        margin: 0;
        aspect-ratio: 1;
        overflow: hidden;
        position: relative;
        transition: .3s;

        &:hover{
            &::after{
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                background-color: $brand-color-primary;
                left: 0;
                top: 0;
                mix-blend-mode: color;
            }
        }

    }

    &__img{
        width: 100%;
        display: block;
    }

    &__info-wrapper{
        width: 50%;
        text-align: left;
        flex-shrink: 0;
        flex-grow: 0;
        padding-left: 20px;
    }

    &__name{
        font-weight: 500;
        font-size: 52px;
        margin: 0 0 40px 0;
        line-height: 100%;
    }
    
    &__description{
        font-size: 18px;
        margin-bottom: 30px;
        color: black;
    }

    &__price{
        font-size: 32px;
        font-family: 'Compagnon', cursive;
        font-weight: bold;
        color: black;
    }

    &__link{
        display: block;
        font-size: 20px;
        text-decoration: none;
        color: $brand-color-primary;
        margin-top: 30px;
        &:focus,
        &:active{
            color: $brand-color-primary;
        }

        &:hover{
            opacity: .8;
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px){
    .product-item{
        &__card{
            flex-direction: column;
        }

        &__info-wrapper{
            width: 100%;
            padding-left: 0;
        }

        &__name{
            font-size: 28px;
            margin: 10px 0 10px 0;
        }
        &__description{
            margin: 0 0 10px 0;
            font-size: 16px
        }

        &__link{
            margin: 10px 0 30px 0;
        }

        &__img-wrapper{
            width: 100%;
        }
    }
}