.navbar{
    top: 0;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: white;
}