@font-face {
    font-family: 'Compagnon';
    src: url('/fonts/Compagnon/Compagnon-Light.eot');
    src: 
        url('/fonts/Compagnon/Compagnon-Light.woff2') format('woff2'),
        url('/fonts/Compagnon/Compagnon-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compagnon';
    src: url('/fonts/Compagnon/Compagnon-Bold.eot');
    src: 
        url('/fonts/Compagnon/Compagnon-Bold.woff2') format('woff2'),
        url('/fonts/Compagnon/Compagnon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compagnon';
    src: url('/fonts/Compagnon/Compagnon-Italic.eot');
    src: 
        url('/fonts/Compagnon/Compagnon-Italic.woff2') format('woff2'),
        url('/fonts/Compagnon/Compagnon-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Compagnon Roman';
    src: url('/fonts/Compagnon/Compagnon-Roman.eot');
    src: 
        url('/fonts/Compagnon/Compagnon-Roman.woff2') format('woff2'),
        url('/fonts/Compagnon/Compagnon-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Compagnon';
    src: url('/fonts/Compagnon/Compagnon-Medium.eot');
    src: 
        url('/fonts/Compagnon/Compagnon-Medium.woff2') format('woff2'),
        url('/fonts/Compagnon/Compagnon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
