$brand-color-primary: #0000ff;
$brand-font: 'Compagnon', sans-serif;


body{
    font-family: $brand-font;
}

*{
    box-sizing: border-box;
}

.container{
    padding-top: 90px;
    margin: 0 20px;
}

.loader-text{
    color: $brand-color-primary;
    font-size: 32px;
    text-align: center;
}

.main-btn{
    background-color: $brand-color-primary;
    border: none;
    color: white;
    font-family: $brand-font;
    display: block;
    padding: 10px 15px 15px 15px;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    &:hover{
        opacity: .8;
    }
    a{
        text-decoration: none;
        color: white!important;
    }
}

a.main-btn{
    display: inline-block;
}

.cart__product-link{

    &:active,
    &:visited,
    &:focus{
        color: $brand-color-primary;
    }

    &:hover{
        text-decoration: none;
    }
}